# Supabase Configuration
VVITE_SUPABASE_URL=https://jwdpzqaptvzfgqylecsj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3ZHB6cWFwdHZ6ZmdxeWxlY3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2NTIxNzEsImV4cCI6MjA2OTIyODE3MX0.PSnunWHSZaWFhVWNSTI7o49fFyR0CFcgUZRkCAXDsE0