# Supabase Configuration
VVITE_SUPABASE_URL=https://jwdpzqaptvzfgqylecsj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3ZHB6cWFwdHZ6ZmdxeWxlY3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM2NTIxNzEsImV4cCI6MjA2OTIyODE3MX0.PSnunWHSZaWFhVWNSTI7o49fFyR0CFcgUZRkCAXDsE0
# OpenAI Configuration
VITE_OPENAI_API_KEY=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
